* {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    word-spacing: 20px;
    text-align: center;
    padding-top: 80px;
}

.container input {
    padding: 20px;
    border-radius: 20px;
    border-color: black;
    color: black;
    background-color: aliceblue;
    font-size: 18px;
    width: 60px;
    margin: 5px;
}
.container{
    background-color: azure;
}

#res {
    border-color: black;
    border-radius: 50px;
    height: 90px;
    width: 450px;
    font-size: 20px;
    padding-left: 10px;
    
}

#t {
    border: 3px solid black;
    border-radius: 20px;
    height: auto;
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
}

input:hover {
    background-color: whitesmoke;
}
#it{
    background-color: azure;
    border: 20px;
    height: 100px;
}


